.header {
	position:relative;
  margin:auto;
  width: 99%;
  text-align: center;
  background: #636363;
  color: white;
  font-size: 50px;

}

#Nav {
    position:relative;
	top:5px;
	left:0;
	width: 99%;
	height:50px;
	z-index:1;
	margin:auto;
	background:#636363;
	text-align:center;
	word-spacing:1px;
	font-size: 35px;

}


#page1{
	position:relative;
	top:10px;
	left:0;
	width:99%;
	height:500px;
	z-index:1;
	margin:auto;
	border:#636363 2px solid;
	background-color:#909090;


}


#page2{
	position:absolute;
	top:640px;
	left:0;
	width:50%;
	height:500px;
	z-index:1;
	margin:auto;
	border:#636363 2px solid;
	background-color:#909090;
}
#page3{
	position:absolute;
	top:640px;
	left:51%;
	width:50%;
	height:500px;
	z-index:1;
	margin:auto;
	border:#636363 2px solid;
	background-color:#909090;
}

#collection_table{
	position:relative;
	top:10px;
	left:0;
	width:99%;
	height:relative;
	z-index:1;
	margin:auto;
	border:#636363 2px solid;
	background-color:#909090;
}


a {
  	font-family:Georgia;
	color:#d4d4d4;
	text-decoration: none;
}
a:hover {
	color: white;
	font-size: 1.1em;
	transition: font-size 0.3s;
	transition-timing-function: ease-in-out;
}

 table {
     border: 2px solid #ffffff;
     width: 100%;
     border-collapse: collapse;
 }

 th, td {

     border: 1px solid #ffffff;
     padding: 5px;
	 font-size: 25px;
 }

 th {
     color: #000000;
     background-color: #999999;
 }
 form {
    color: #dddddd;
    text-decoration: none;
     font-weight: bold;

 }

 #searchbox {
	 position:relative;
 }


