.header {
	position:relative;
  margin:auto;
  width: 99%;
  text-align: center;
  background: #2B7A68;
  color: white;
  font-size: 50px;

}

h2,h1 {
	color: white;
}

p {
	color: white;
}

img {
	width: 35px;
}

img:hover {
	width : 1.1em;
	transition: width 0.1s;
	transition-timing-function: ease-in-out;
}
#Nav {
    position:relative;
	top:0;
	left:0;
	width: 99%;
	height:50px;
	z-index:1;
	margin:auto;
	background:#3AAFA9;
	text-align:center;
	word-spacing:1px;
	font-size: 35px;

}


#page1{
	position:relative;
	top:25px;
	left:0;
	width:99%;
	height:relative;
	z-index:1;
	margin:auto;
	border:#2B7A68 2px solid;
	background-color:#3AAFA9;
}

.Black_Table{
	background-color: #454a55;
}

.Blue_Table {
	background-color: #49a9e5;
}

.Green_Table {
	background-color: #7dde47;
}

.White_Table {
	background-color: #e0cb58;
}

.Red_Table {
	background-color: #ee5d5d;
}

a {
  	font-family:arial;
	color:#FFFFFF;
	text-decoration: none;
}
a:hover {
	color: white;
	font-size: 1.1em;
	transition: font-size 0.3s;
	transition-timing-function: ease-in-out;
}

 table {
     border: 2px solid #DEF2F1;
     width: 100%;
     border-collapse: collapse;
	 color:#FFFFFF

 }

 th, td {

     border: 1px solid #DEF2F1;
     padding: 5px;
	 font-size: 25px;
 }



 form {
    color: #dddddd;
    text-decoration: none;
     font-weight: bold;

 }

 #searchbar {
	 float: right;
  	padding: 6px;
  	border: none;
  	margin-top: 8px;
  	margin-right: 16px;
  	font-size: 17px;

 }

 #colourbanner {
	 position:relative;
	top:20px;
	left:0;
	width: 99%;
	height:50px;
 }


