<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dragons Keep</title>
    <link rel="stylesheet" type="text/css" href="static/CSS/styles.css"/>

</head>

<body style="background-color: #494848">
    <div class="header">
        <a href = "/">Dragons Keep</a>
        <form method="post" action="/search">
            <input type="text" name="Search" id="searchbox">
            <input type="submit" value="Search!">
        </form>
    </div>


    <div id="Nav">
        <a href = "collection">Collection</a>
        <a href = "black">Black</a>
        <a href = "blue">Blue</a>
        <a href = "green">Green</a>
        <a href = "white">White</a>
        <a href = "red">Red</a>

    </div>


    <start>
        {% block start %}
        {% endblock %}
    </start>
    <div id="page1">
    <main>
        {% block main %}
        {% endblock %}
    </main>
    </div>

    <div id="page2">

    </div>

    <div id="page3">

    </div>
</body>
</html>