<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dragons Keep</title>
    <link rel="stylesheet" type="text/css" href="static/CSS/styles.css"/>
</head>

<body style="background-color: #494848">
    <div class="header">
        <a href = "/">Dragons Keep</a>
    </div>

    <div id="Nav">
        <a href = "collection">Collection</a>
        <a href = "black">Black</a>
        <a href = "blue">Blue</a>
        <a href = "green">Green</a>
        <a href = "white">White</a>
        <a href = "red">Red</a>
    </div>
    <div id="collection_table">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Type</td>
                    <td>Power</td>
                    <td>Toughness</td>
                    <td>Stock</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>

                {% for row in data %}
                    <tr>
                        <td>  {{  row[0] }}  </td>
                        <td>  {{  row[1] }}  </td>
                        <td>  {{  row[2] }}  </td>
                        <td>  {{  row[3] }}  </td>
                        <td>  {{  row[4] }}  </td>
                        <td>  ${{  row[5] }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</body>
</html>