{% extends 'base.html' %}

{% block main %}
    <h2 style="font-size:50px">Welcome to Dragons Keep</h2>
    <p  style="font-size:35px">This is a website about previewing MTG cards that we have in stock</p>
    <img src="/static/images/Banners/MH3_Banner.png" style="width:100%">
    <img src="/static/images/Banners/MAKM_Banner.png" style="width:100%">
    <img src="/static/images/Banners/OOTJ_Banner.png" style="width:100%">
    <img src="/static/images/Banners/RR_Banner.png" style="width:100%">
    <img src="/static/images/Banners/TLCOI_Banner.png" style="width:100%">
    <img src="/static/images/Banners/UBF_Banner.png" style="width:100%">
    <img src="/static/images/Banners/WOE_Banner.png" style="width:100%">
    <p>© 1993-2024 Wizards of the Coast LLC, a subsidiary of Hasbro, Inc. All Rights Reserved.</p>



{% endblock %}