{% extends 'base.html' %}

{% block main %}
    <img src="/static/images/Banners/MH3_Banner.png" style="width:100%">
    <img src="/static/images/Banners/MAKM_Banner.png" style="width:100%">
    <img src="/static/images/Banners/OOTJ_Banner.png" style="width:100%">
    <img src="/static/images/Banners/RR_Banner.png" style="width:100%">
    <img src="/static/images/Banners/TLCOI_Banner.png" style="width:100%">
    <img src="/static/images/Banners/UBF_Banner.png" style="width:100%">
    <img src="/static/images/Banners/WOE_Banner.png" style="width:100%">



{% endblock %}